.App {
    min-height: 100vh;
    margin-top: -2rem;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    opacity:0.87;
}
.title{
  text-align: center;
  color:#c6c5b4;
  text-shadow: -3px -5px #21324b;
  z-index: 2;
  font-size: 3rem;
}
.search{
  justify-self: center;
}
.title strong{
  color:#ce472f;
  text-shadow: -3px -5px #21324b;
  font-size: 3.5rem;
}
.corpo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap:1.5rem;
  justify-content: center;

}
.song{
  max-width: 45%;
  margin-top: 2rem;
  align-content: baseline;
  justify-items: center;
  background-color: #ce472f;
  padding:0.5rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  box-shadow: -5px -5px 2px #c6c5b4;

}
