.nome-playlist{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
}
.playlist_result{
    text-align: center;
}
.save{
    margin-top: 1rem;
    background-color: #7cf3a0;
    color:#000;
    height: 2.5rem;
    min-width: 10rem;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 1px 3px 2px #fff;
    border-color: #fff;

}
.save:focus:active{
    height: 2.5rem;
    background-color: #c6c5b4;
    color:#21324b;
    }